
@import "../../variables.scss"; //SASS vars need importing to all component stylesheets - cant get it to inherit from variables from import in styles.scss

.fight-card {
    margin: 0 auto;
    margin-top: $card-vertical-margin;
    width: calc(100vw - $card-horizontal-margin * 2); //account for left + right margin
    height: calc(100vh - $card-vertical-margin); //account top margin
}

h1, .subtitle { //figma
    font-family: 'nimbus-sans-extended';
    font-style: normal;
}

h1 {
    font-weight: 400; //figma
    font-size: min(103px, 9.5vw); //figma px
    line-height: min(124px, 9.5vw); //figma px
    color: #0B0C08; //figma
}

.subtitle {
    font-weight: 700;
    font-size: min(17px, 1.3vw); //figma px
    line-height: min(20px, 1.5vw); //figma px
    display: flex;
    margin-bottom: 0;
    color: $white;
}

.text-outline-red {
    -webkit-text-stroke: 2px $red;
}

.text-outline-white {
    -webkit-text-stroke: 2px $white;
}

//scale h1 and subtitle with view-width, prevent subtitle becoming too small @ <=995px
@media screen and (max-width: 995px) {
    h1 {
        font-size: 9.5vw;
        line-height: 9.5vw;
    }
    
    .subtitle {
        font-size: max(14px, 1.3vw);
        line-height: max(16px, 1.5vw);
    }     
}