@import "../../variables.scss"; //SASS vars need importing to all component stylesheets - cant get it to inherit from variables from import in styles.scss

//override horizontal padding on bootstrap columns
div[class*="col-lg-"] {
  padding-left: 0;
  padding-right: 0;
}

.timeline-card {
  margin-top: 1.5rem;
}

h1, h3 { //figma
  font-family: 'nimbus-sans-condensed';
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

h1 {
  //figma says 30px/36px but these are too large when overlayed against figma prototype
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: $white;
}
h3 {
  font-size: 16px; //figma
  line-height: 19px; //figma
}

.text-fill-gold {
  color: $gold;
}

.timeline-col, .image-col {
  display: inline-block;
}

.timeline-col{
  vertical-align: text-top; 
  margin-top: 3rem;
  padding-right: 1rem;
}

.image-col {
  vertical-align: top; 
  padding-left: 2rem;
}

img {
  opacity: 0;
  transition: opacity 0.15s linear;
  float: left;
}

.image-show {
  opacity: 1;
}

.timeline {
  position: relative;
  margin: 0 auto;
  margin-left: 0;
}

.timeline-row {
  padding-bottom: max(5%, 80px);
  cursor: pointer;
  max-height: 130px;
}

.name {
  width: 45%;
  max-width: 200px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #D43B38;
  top: 65px;
  bottom: 14%;
  left: 25%;
  margin-left: -3px;
}

.container {
  display: inline-block;
  padding: 0px 40px;
  position: relative;
  background-color: inherit;
}

.container.left::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: -1%;
  background-color: $red;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.container.left.last::after{
  background-color: $gold;
}

.active > .container > .content > h1, .active > .container > .content > span > h1 {
  opacity: 100%;
  //figma says 35px/42px but these are too large when overlayed against figma prototype
  font-size: 30px;
  line-height: 38px;
  transition: 0.25s;
}

.active > .container.left::after {
  box-shadow: 0px 0px 2px 5px rgb(195 55 55 / 38%);
}

.active > .container.left.last::after{
  box-shadow: 0px 0px 2px 5px #f0ca996a;
}

.inactive > .container > .content > h1, .inactive > .container > .content > span > h1 {
  opacity: 50%;
}

.container.container.left {
  max-width: 25%;
}

.container.right {
  padding-left: 12.5%;
  max-width: 75%;
}

.container.left > .content {
  text-align: center;
  float: left;  
  padding-left: 17.5%;
}

.content {
  padding: 0px 30px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  color: $white;
}

@media screen and (min-width: 1920px) {
  .timeline-col {
    max-width: 850px;
  }
}
//adjust timeline bullet point alignment @ <=1700px
@media screen and (max-width: 1700px) {
  .container.left::after {
    right: -2%;
  }
}
//adjust timeline offsets @ <=1100px to prevent extension beyond first/last bullet point
@media screen and (max-width: 1185px) {
  .timeline::after {
    bottom: 12%;
  }
}
//force col widths @ <=995px to keep timeline alignment w/ parallel image
@media screen and (max-width: 995px) {
  .timeline-col, .image-col {
    max-width: 50%;
  }
}
//move timeline and image to separate vertically-stacked containers and adjust alignments  @ <=900px
@media screen and (max-width: 970px) { 
  .timeline-card {
    margin-top: 3rem;
  }

  .timeline-col, .image-col, .image-col img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
  }

  .image-col, .image-col img {
    max-width: 425px;
  }

  .container.right {
    max-width: 75%;
  }

  .container.left {
    max-width: 12.5%;
  }
  
  .timeline::after {
    bottom: 12%;
  }
 
  .timeline-row {
    padding-bottom: 5%;
  }
}
//transform timeline to horizontal display + remove rhs (fighter names) @ <=600px
@media screen and (max-width: 600px) { 
  img {
    padding-right: 1.5rem;  
  }

  .container.right {
    display: none!important;
  }

  .timeline::after {
    top: 109px;
    height: 5%;
    width: 77%;
    left: 10%;
    /* transform: rotate(90deg); */
  }
 
  .timeline-row {
    width: 20%;
    display: inline;
  }
 
  .timeline-col {
    height: 200px;
    margin: 0
  }

  .timeline {
    width: 90vw;
    padding-right: 1rem;
  }

  .container.container.left {
    max-width: 20%;
  }

  .container.left::after {
    right: 45px;
    top: 70px;
  }

  .active > .container.left::after {
    top: 77px;
  }

  .active > .container > .content > h1, .active > .container > .content > span > h1 {
    transition: unset;
  }
}
//adjust timeline bullet point horizontal alignment, scale image and headings w/ view width @ <=500px
@media screen and (max-width: 550px) { 
  .container.left::after {
    right: 40px;
  }

  .image-col, .image-col img {
    max-width: 80vw;
  }

  h1 {
    font-size: min(6vw, 30px);
    line-height: min(7.2vw, 36px);
    letter-spacing: 0.01em;
  }

  .active > .container > .content > h1, .active > .container > .content > span > h1 {
    font-size: min(7vw, 35px);
    line-height: min(8.4vw, 42px);
  }

  .active > .container.left::after {
    top: 75px;
  }
}
//adjust timeline bullet point horizontal alignment @<=490px
@media screen and (max-width: 490px) { 
  .container.left::after {
    right: 35px;
  }
}
//adjust timeline bullet point horizontal alignment and timeline vertical alignment @<=440px
@media screen and (max-width: 440px) { 
  .container.left::after {
    right: 30px;
  }
  .timeline::after {
    top: 108px;
  }
}
//adjust timeline bullet point horizontal alignment and timeline vertical alignment @<=440px
@media screen and (max-width: 400px) {
.container.left::after {
    right: 22px;
  }
  .timeline::after {
    left: 11%;
  }
}
//adjust timeline container for short screen in horizontal-timeline view to prevent image cropping off-screen
@media screen and (max-height: 750px) and (max-width: 600px) { 
  .timeline-col {
    height: 150px;
  }
}